* {
  margin: 0;
  padding: 0;
}

.box2 {
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  border: 2px solid lightseagreen;
  line-height: 35px;
}

.box2 .item {
  margin-top: 10px;
}
.item input {
  height: 25px;
  margin-left: 10px;
  width: 300px;
}

input#username, input#age {
  width: 200px;
}
.item button {
  display: block;
  width: 100px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 20px;
  background: lightseagreen;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}