.home-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #2a2a2a;
  color: #fff;

  .home-header-logo {

    img {
      width: 105px;
      height: 30px;
      margin-top: 13px;
      margin-left: 7px;
    }
    .home-header-btn {
      float: right;
      margin-right: 11px;
    }
  }

  .home-header-list {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    li {
      width: 100%;
      line-height: 46px;
      border-top: 1px solid #464646;
      text-align: center;
      background: #2a2a2a;
    }
  }
}
